<h1>Component Hero {{name}}</h1>

<dl>
    <td>Nombre</td>
    <dd>{{name}}</dd>

    <td>Edad</td>
    <dd>{{age}}</dd>

    <td>Metodo:</td>
    <dd>{{getHeroDescription()}}</dd>

    <td>Capitalizado</td>
    <dd>{{capitalizedName}}</dd>

</dl>
<button *ngIf="name !== 'Cap America'" (click)="changeHero()" class="btn btn-primary mx-2">Cambiar Nombre</button>
<button (click)="changeAge()" class="btn btn-primary mx-2">Cambiar Edad</button>
<button (click)="reset()" class="btn btn-primary mx-2">Reset</button>